.track-container {
	display: flex;
	height: 100px;
}

.album-container {
	width: auto;
	margin: 1%;
	height: 100px;
}

img {
	height: 95%;
	width: 95%;
}

.info-container {
	width: 70%;
	height: 100%;
	margin: 1%;
	padding-top: 5%;
}

.info-container > h3,
h5 {
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	/* padding-bottom: 5px; */
}
